.env
kaggle.json
.kaggle/

build/
*.o
*.so
*.a

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/

build/
dataset/
preprocessed/
evaluation_results/
models/

.vscode/
.idea/
*.iml